
.image-1{
    width: 320px;
    height: 185px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 7px;
}
.container{
    
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
}
.author-cont{
    margin: 10px;
   
}
.author-icon-cont{
  
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;

}
.author-icon{
    width: 30px;
    border-radius: 20px;
}
.about-author{
    display: inline-block;
}
.title{
    font-size: 14px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    width: 250px;
    font-weight: 500;
    margin-bottom: 6px;
  
}
.channel-name,.stats{
    color: rgb(96 , 96, 96);
    font-size: 13px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    width: 250px;
}
.channel-name{
    margin-bottom: 3px;
}
