body{
    margin: 0;
}
.header{
    background-color: rgb(136, 136, 183);
    display: flex;
    flex-direction: row;
    /* background-color: rgb(27, 191, 27); */
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}
.middle-section{

}
.search-bar{
    
    width: 470px;
    padding-top: 9px;
    padding-left: 15px;
    padding-bottom: 9px;
    border-radius: 20px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    border: 1px solid grey;
    font-size: 14px;
}

.image-1{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.container{
    
    /* display: grid; */
    /* margin-right: 15px;
    margin-bottom: 23px; */
    /* background-color: aqua; */
}
.body-thumb-grid{
    display: grid;
    column-gap: 20px;
    row-gap: 23px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid-thumb{
    /* display: grid; */
    /* grid-template-columns: 100px 100px; */
   
}
.author-cont{
    margin: 10px;
    display: grid;
    grid-template-columns: 50px 2fr;
   
}
.author-icon-cont{
  

    /* margin-right: 6px; */
    /* background-color: grey; */

}
.author-icon{
    width: 35px;
    border-radius: 20px;
}
.about-author{
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: grey; */
}
.title{
    font-size: 14px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    width: 250px;
    font-weight: 500;
    margin-bottom: 6px;
  
}
.channel-name,.stats{
    color: rgb(96 , 96, 96);
    font-size: 13px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    width: 250px;
}
.channel-name{
    margin-bottom: 3px;
}
