

.main-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 50px;
  position: static;
  /* margin-top: 88px; */

}

.container-div{
  display: grid;
  /* grid-template-rows: ; */
  /* width: 370px; */
  /* height: 315px; */
  /* background-color: blue; */
}

.thumbnail-container{
  position: relative;
  z-index: 0;
}

.video-time{
  right: 6px;
  bottom: 15px;
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-inline: 4px;
  padding-block: 3px;
  border-radius: 4px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.icon-info-container{
  /* margin-top: 11px; */
  /* background-color: chartreuse; */
  display: grid;
  grid-template-columns: 50px 1fr;

}

.icon-container{
/* background-color: aquamarine; */
vertical-align: top;
/* margin-right: 5px; */
}

.video-info-container{
/* background-color: blueviolet; */
margin-top: 1px;
margin-left: 3px;
}

.title-video{
  display: inline-block;
  margin-bottom: 7px;
}